*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0 auto;
    background-color: bisque;
    width: 1500px;
    height: 100vh;
}

header{
    width: 1500px;
    height: 10vh;
    background-color: aliceblue;
    justify-items: center;
    align-content: center;
}

nav{
    width: 1300px;
    height: 50px;
    background-color: aliceblue;
    margin: 30px auto;
    align-content: center;
    div{
        width: 300px;
        background-color: aqua;
        display: inline-block;
        margin: 0 50px 0 50px;
        height: 30px;
        align-content: center;
        a{
            display: inline-block;
            text-align: center;
            align-content: center;
            width: 100%;
            height: 100%;
            text-decoration: none;
        }
    }
}

.flexada{
    display: flex;
    gap: 50px;
    
    div{
        display: flex;
        flex-grow: 1;
        flex-shrink: 2;
        margin: 0;
        flex-basis: 300px;
        a{
            display: flex; /* asi el enlace ocupa todo  */
        }
    }
}

#bodyIndex{
    align-content:center ;
    text-align: center;
    div{
        display: inline-block;
        width: 300px;
        height: 300px;
        background-color: aliceblue;
        a{
            display: block;
            height: 300px;
            width: 300px;
            align-content: center;
        }
    }
}






