*{
    margin: 0;
    padding: 0;
}

/* ESTRUCTURA DEL LAYOUT  */
body{
    margin: 0 auto;
    background-color: bisque;
    width: 1500px;
    height: 100vh;
}

header{
    width: 1500px;
    height: 15vh;
    background-color: aliceblue;
    justify-content: space-between;
    align-content: center;
    display: flex;

    nav{
    width: 1300px;
    height: 50px;
    background-color: rgb(29, 146, 249);
    margin: 0 auto;
    align-content: center;
    div{
        width: 300px;
        background-color: aqua;
        display: inline-block;
        margin: 0 50px 0 50px;
        height: 30px;
        align-content: center;
        a{
            display: inline-block;
            text-align: center;
            align-content: center;
            width: 100%;
            height: 100%;
            text-decoration: none;
        }
    }
}

    .ft{
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: blue;
    }
}




/* FORMATO DE CAJAS FLEXADAS */
.flexada{
    display: flex;
    gap: 50px;
    
    div{
        display: flex; /* convertimos cada div a caja flexible */
        flex-grow: 1; /* indicamos que las cajas ocupen el espacio total del contenedor si sobra */
        flex-shrink: 2; /* le indicamos que las cajas pierdan espacio si hace falta una caja nueva */
        margin: 0;
        flex-basis: 280px;
        padding-left: 20px;
        a{
            display: flex; /* asi el enlace ocupa todo  */
        }
    }
    #creceMas{
        flex-grow: 3;
    }
}

#bodyIndex{
    align-content:center ;
    text-align: center;
    div{
        display: inline-block;
        width: 300px;
        height: 300px;
        background-color: aliceblue;
        a{
            display: block;
            height: 300px;
            width: 300px;
            align-content: center;
        }
    }
}






